.header-wrapper {
  width: 100%;
  height: 112px;
  background-color: var(--color-dark-green);
  padding: var(--spacing-sm) var(--spacing-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky; */
  top: 0;
  z-index: var(--z-modal);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  display: inline-block;
  width: 96px;
  height: 96px;
  border-radius: var(--border-radius-md);
}

.header__title{
  display: inline-block;
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
}

.header__nav-links a {
  margin-left: var(--spacing-md);
  color: var(--color-primary);
}

.header__nav-links a:hover {
  color: var(--color-text-primary);
}