.header {
  max-width: 100%;
  height: 160px;
  background-color: var(--color-base);
  padding: var(--spacing-md) var(--spacing-md);
  position: sticky;
  top: 0;
  z-index: var(--z-modal);
}

.header__container {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.header__logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: var(--border-radius-md);
}

.header__nav-links a {
  margin-left: var(--spacing-md);
  color: var(--color-primary);
}

.header__nav-links a:hover {
  color: var(--color-text-primary);
}