{% extends "base.html" %}

{% block nav_btns %}
<a href="{{ url_for('channels.index') }}" class="azuki-btn">部屋一覧に戻る</a>
<a href="{{ url_for('auth.login') }}" class="azuki-btn">ログアウトする</a>
{% endblock %}

{% block title %}404error{% endblock %}

{% block content %}
<div class="error-wrapper">
    <div class="error-main-container">
        <div class="error-column-left">
            <div class="error-title">
                <p> 404エラー</p>
            </div>
            <div class="error-message">
                <p>
                    ページが見つかりません...。
                </p>
            </div>
        </div>
    </div>
    <div class="error-img-wrapper">
        <img src="{{ url_for('static',filename='img/error.png')}}" alt="エラーのイメージ" class="error-img">
    </div>
</div>
{% endblock %}