.auth-wrapper {
  background-color: var(--color-base);
  width: 100vw;
}

.auth-container {
  display: flex;
  flex-direction: row-reverse;
}

.auth-form-wrapper {
  width: 64vw;
  height: 100vh;
}

.auth-main-pic {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 32vw;
  height: 100vh;
}

.auth-form-container {
  max-width: 500;
  line-height: 32px;
  margin: var(--spacing-lg) auto;
  padding: var(--spacing-lg);
  background: var(--color-bg-primary);
  text-align: center;
}

.auth-container h1 {
  margin-bottom: var(--spacing-lg);
  text-align: center;
  font-size: 40px;
  line-height: 4.0;
}

.auth-container h2 {
  margin-bottom: var(--spacing-lg);
  text-align: center;
  font-size: 24px;
}

.auth-container p {
  margin-bottom: var(--spacing-lg);
  text-align: center;
  font-size: 16px;
}