.channels-background {
  height: auto;
  background-image: url(/static/img/home.png);
  background-size: 32vw 60vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

.channels-background-touka {
  height: auto;
  background-color: rgba(255, 253, 246, 0.7);
  background-position: right bottom;
}

.home-container {
  width: 92vw;
  height: 80vh;
  margin: var(--spacing-md) var(--spacing-md);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: var(--spacing-md);
}

.stamp-container {
  width: 32vw;
  height: auto;
  display: block;
  justify-content: center;
}

.stamp-title {
  margin: var(--spacing-lg) var(--spacing-sm);
  text-align: center;
}

.stamp-img {
  width: 28vw;
  height: 24vh;
  margin: var(--spacing-md) var(--spacing-md);
  border-color: var(--color-gray);
  /* border-style: solid;
  border-width: 1.6px;
  border-radius: 12px; */
  object-fit: contain;
}

.channels-container {
  width: 84%;
  height: auto;
  margin: var(--spacing-sm) 0;
}

.channels-title {
  margin: var(--spacing-md) var(--spacing-md);
  text-align: center;
}

.channels-list {
  width: 100%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
  background-color: rgba(255, 253, 246, 0.7);
  border-style: solid;
  border-width: 1.6px;
  border-radius: var(--border-radius-md);
  overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width: thin;
  align-items: center;
}

.channels-card {
  width: 96%;
  display: flex;
  padding: var(--spacing-sm) var(--spacing-sm);
  gap: var(--font-size-sm);
}


.channels-card-list {
  width: 100%;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  padding: var(--spacing-sm) var(--spacing-sm);
  background-color: rgba(255, 253, 246, 0.7);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius-md);
  overflow-y: auto;
  padding: var(--spacing-sm) var(--spacing-sm);
  gap: var(--font-size-sm);
}

.channels-card h2 {
  text-align: center;
  height: 20px;
}

.channels-card p {
  text-align: center;
  gap: var(--font-size-sm);
}

.metadata {
  display: flex;
  gap: var(--spacing-xl);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}

.metadata span {
  display: block;
  gap: var(--spacing-sm);
}

.channel-btn {
  margin: auto 20px;
}