.chat-container {
  display: flex;
  /* ヘッダー：112px　　フッター：68px */
  height: calc(100vh - 180px);
  background: var(--color-bg-primary);
  border-radius: var(--border-radius-md);
}

.chat-sidebar {
  width: 300px;
  padding: var(--spacing-lg);
  background: var(--color-base);
  border-right: var(--border-width) solid var(--color-gray);
}

.channel-description {
  margin-bottom: var(--spacing-xl);
}

.channel-meta{
  line-height: 12px;
  margin-bottom: var(--spacing-xl);
}


.chat-main {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing-lg);
}

.message {
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-sm);
  background: var(--color-bg-secondary);
  border-radius: var(--border-radius-md);
}

.message--own {
  background: var(--color-primary-light);
  margin-left: auto;
}