.chat-container {
  display: flex;
  height: calc(100vh - 200px);
  background: var(--color-bg-primary);
  border-radius: var(--border-radius-md);
}

.chat-sidebar {
  width: 300px;
  padding: var(--spacing-lg);
  margin: var(--spacing-md);
  background: var(--color-base);
  border-right: var(--border-width) solid var(--color-gray);
}

.channel-description {
  margin-bottom: var(--spacing-xl);
}

.channel-meta{
  line-height: 12px;
  margin-bottom: var(--spacing-xl);
}

.chat-main {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing-xl);
  margin: var(--spacing-xl);
}

.message {
  margin-bottom: var(--spacing-xl);
  padding: var(--spacing-md);
  background: var(--color-bg-secondary);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  background: var(--color-leaves);
}

.message-header{
  display: flex;
  justify-content: flex-end;
  margin: var(--spacing-sm);
}

.message-user,.message-time{
  margin-right: var(--spacing-md);
}

/* .message-content (予備) */

.no-messages{
  font-size: var(--font-size-xl);
  text-align: center;
  margin-bottom: var(--spacing-xl);
}
