.error-wrapper {
  background-color: var(--color-bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.error-main-container {
  flex: 1;
}

.error-column-left {
  display: block;
  margin: var(--spacing-lg) var(--spacing-lg);
}

.error-title {
  margin-bottom: var(--spacing-lg);
  text-align: center;
  font-size: 60px;
  line-height: 1.2;
}

.error-message {
  margin: 40px;
  text-align: center;
    font-size: 32px;
}

.error-img-wrapper {
  width: 40%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--spacing-lg) var(--spacing-lg);
}

.error-img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 100%;
  object-fit: contain;
}