.form-group {
  margin-bottom: var(--spacing-md);
}

.form-label {
  display: block;
  margin-bottom: var(--spacing-md);
  font-weight: 500;
  line-height: 32px;
}

.form-input,
.form-textarea {
  line-height: 32px;
  padding: var(--spacing-md);
  border: var(--border-width) solid var(--color-gray);
  border-radius: var(--border-radius-md);
  transition: border-color 0.2s;
}

.form-help-text {
  font-size: 0.9rem;
  color: var(--color-gray);
  margin-top: 0.25rem;
  align-items: center;
  font-style: italic;
}