.form-group {
  text-align: center;
}

.form-label {
  display: block;
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-sm);
  font-weight: 500;
  line-height: 32px;
}

.form-input {
  min-width: 320px;
  height: 32px;
}

.form-textarea {
  min-width: 320px;
  min-height: 100px;
  height: 32px;
}

.form-chat-textarea {
  min-height: 80px;
  height: 32px;
}

.form-textarea {
  min-width: 320px;
  min-height: 100px;
  height: 32px;
}

.form-chat-textarea {
  width: 100%;
  min-height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-help-text {
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-style: italic;
  margin-top: 0;
  margin-bottom: var(--spacing-sm);
}