{% extends "base.html" %}

{% block nav_btns %}
<a href="{{ url_for('channels.index') }}" class="azuki-btn">部屋一覧に戻る</a>
<a href="{{ url_for('auth.logout') }}" class="azuki-btn">ログアウトする</a>
{% endblock %}

{% block title %} add-channel {% endblock %}

{% block content %}
<div class="add-channel-wrapper">
  <div class="add-channel-form-wrapper">
    <img src="{{ url_for('static',filename='img/add-channel.png') }}" alt="" class="add-channel-img"></img>
    <div class="add-channel-form-container">
      <h1>新しい習慣部屋を作成します</h1>
      <h2>仲間と一緒に習慣を続けよう！</h2>
      <p>作成後は「部屋の名前」と「部屋の説明文」を変更することはできません。</p>
    </div>
    <form method="POST" action="{{ url_for('channels.create') }}" class="form-group">
      <div class="form-label">
        <label for="channel-name">習慣部屋の名前</label>
        <input type="text" id="channel_name" name="channel_name" required maxlength="30"
          value="{{ request.form.channel_name if request.form.channel_name else '' }}">
        <small class="form-help-text">30文字以内で入力してください</small>
      </div>
      <div class="form-label">
        <label for="description">習慣部屋の説明</label>
        <textarea id="description" name="description" required maxlength="200"
          placeholder="この部屋でどんな習慣を続けるのか説明をお願いします（任意）"
          value="{{ request.form.description if request.form.description else '' }">
        <small class="form-help-text">200文字以内で入力してください</small>
      </div>
      <button type=" submit" class="btn-primary">部屋を作成</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}